<div class="container">
  <mat-card appearance="outlined">
    <div class="wrapper">
      <img src="assets/all/partly-cloudy-day.svg" />
      <div class="text-wrapper">
        <span class="title">Monday</span>
        <span>Sunny</span>
      </div>
    </div>

    <div class="temperature">30°</div>
  </mat-card>
  <mat-card appearance="outlined">
    <div class="wrapper">
      <img src="assets/all/partly-cloudy-day.svg" />
      <div class="text-wrapper">
        <span class="title">Tuesday</span>
        <span>Sunny</span>
      </div>
    </div>

    <div class="temperature">30°</div>
  </mat-card>
  <mat-card appearance="outlined">
    <div class="wrapper">
      <img src="assets/all/partly-cloudy-day.svg" />
      <div class="text-wrapper">
        <span class="title">Wednesday</span>
        <span>Sunny</span>
      </div>
    </div>

    <div class="temperature">30°</div>
  </mat-card>
  <mat-card appearance="outlined">
    <div class="wrapper">
      <img src="assets/all/partly-cloudy-day.svg" />
      <div class="text-wrapper">
        <span class="title">Thursday</span>
        <span>Sunny</span>
      </div>
    </div>

    <div class="temperature">30°</div>
  </mat-card>
  <mat-card appearance="outlined">
    <div class="wrapper">
      <img src="assets/all/partly-cloudy-day.svg" />
      <div class="text-wrapper">
        <span class="title">Friday</span>
        <span>Sunny</span>
      </div>
    </div>

    <div class="temperature">30°</div>
  </mat-card>
</div>
