<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-subtitle> Sunday, September 3, 2024 </mat-card-subtitle>
      <mat-card-title>
        Cape Town
        <div class="temperature-container">
          <div class="temperature-wrapper">
            <h1>30</h1>
            <span>°C</span>
          </div>
          <span>Sunny Cloudy</span>
        </div>
      </mat-card-title>

      <img mat-card-lg-image src="assets/all/partly-cloudy-day.svg" />
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
