:host{

  mat-card{
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(247 250 255) 0%, rgb(0 86 255 / 17%) 100%);

    mat-card-header{
      mat-card-title-group{
        flex-wrap: wrap;
        mat-card-title{

          .temperature-container{
            .temperature-wrapper{
              display: flex;
              padding-top: 10px;
              h1{
                margin: 0;
              }
              span{
                font-size: 16px;
              }
            }
          }
        }
      }

    }
  }
}
