
    @if(hourlyForecast){
        <span class="time-text">{{hourlyForecast.dt_txt |  date: 'h:mm a'}}</span>
      @if(hourlyForecast.weather[0]?.main === 'Rain'){
        <img mat-card-lg-image src="assets/all/rain.svg" />
      }
      @if(hourlyForecast.weather[0]?.main === 'Clouds'){
        <img mat-card-lg-image src="assets/all/cloudy.svg" />
      }
      @if(hourlyForecast.weather[0]?.main === 'Clear'){
        <img mat-card-lg-image src="assets/all/clear-day.svg" />
      }
        <span class="temp">{{hourlyForecast.main.temp_max | number: '1.0-0'}}°C</span>
      <div class="wrapper">
        <span>Wind speed: </span>
        <span>{{hourlyForecast.wind.speed | number: '1.0-0'}}km/h</span>
      </div>
    }
