<div class="container">
  <div class="hourly-container">
    <mat-card appearance="outlined">
      <span>12:00</span>
      <img src="assets/all/partly-cloudy-day.svg" />
      <span>30°C</span>
    </mat-card>
    <mat-card appearance="outlined">
      <span>13:00</span>
      <img src="assets/all/clear-day.svg" />
      <span>31°C</span>
    </mat-card>
    <mat-card appearance="outlined">
      <span>14:00</span>
      <img src="assets/all/clear-day.svg" />
      <span>32°C</span>
    </mat-card>
    <mat-card appearance="outlined">
      <span>15:00</span>
      <img src="assets/all/clear-day.svg" />
      <span>33°C</span>
    </mat-card>
    <mat-card appearance="outlined">
      <span>14:00</span>
      <img src="assets/all/clear-day.svg" />
      <span>34°C</span>
    </mat-card>
  </div>
</div>
