:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #0000003d;
  padding-right: 12px;
  text-align: center;
    color: #fff;
    .time-text{
      font-size: 12px;
      width: 76px;
      text-align: center;
    }
  .temp{
    font-size: 16px;
    font-weight: 500;
  }
  img{
    width: 100px;
    height: 100px;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
     gap: 6px;
   span{
     font-size: 12px;
   }
  }

}
