.attribute-container{
  display: flex;
  gap: 16px;
  flex-direction: revert;
  background: 0;
  justify-content: space-between;
  padding: 16px;
  flex-wrap: wrap;
  background: rgb(32, 43, 59);
  border: none;
  .attribute{
    display: flex;
    flex-direction: column;
    text-align: center;
    img{
      width: 88px;
      height: 88px;
    }
    span{
      color: #fff;
    }
  }
}
