@if(currentWeather){
  <mat-card class="attribute-container" appearance="outlined">
    <div class="attribute">
      <img src="assets/all/wind.svg" />
      <span>Wind speed:</span>
      <span>{{currentWeather.wind.speed | number: '1.0-0' }} km/h</span>
    </div>
    <div class="attribute">
      <img src="assets/all/cloudy.svg" />
      <span> Cloud cover:</span>
      <span> {{currentWeather.clouds.all}}%</span>
    </div>
    <div class="attribute">
      <img src="assets/all/thermometer-celsius.svg" />
      <span>Feels like:</span>
      <span>{{currentWeather.main.feels_like | number: '1.0-0'}}°C</span>
    </div>
    <div class="attribute">
      <img src="assets/all/humidity.svg" />
      <span>Humidity:</span>
      <span>{{currentWeather.main.humidity}}%</span>
    </div>
  </mat-card>

}
