<div class="container">
  <div class="wrapper">
    @if(!selectedLocation){
      <div class="search-wrapper">
        <span class="heading">Enter a location name</span>
        <app-search-bar></app-search-bar>
      </div>

    } @else {
      <!-- search bar > -->
      <app-search-bar></app-search-bar>
      <app-current-forecast></app-current-forecast>
      <app-attribute></app-attribute>
      <!-- all 5 days below each other -->
      <app-weekly-forecast></app-weekly-forecast>
    }


  </div>

</div>
