form{
  background: rgb(32, 43, 59);
  border-radius: 14px;
  padding: 10px 12px 10px 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  mat-spinner{
    height: 30px !important;
    width: 30px !important;
  }
  mat-form-field{
    display: block;
  }
  mat-label{}
  input{
   flex: 1;
    height: 32px;
    border-radius: 12px;
    all: unset;
    display: block;
    width: 100%;
  }
}
