<form class="example-form">
  <input
    type="text"
    placeholder="Search"
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    class="example-input"
  />
  @if(isLoading){
    <mat-spinner></mat-spinner>
  }

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    @if(locationOptions$ | async; as location){
      <mat-option
        (click)="setLocation(location)"
        [value]="location">
        {{ location.name }}
      </mat-option>
    }

  </mat-autocomplete>
</form>
